{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="box-index1 text-center mt-5">Les Événements</h1>
    {% for event in events %}
        <div class="m-5 d-flex justify-content-center">
            <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-dark col-7"><span>{{ event.title}}</span></a>
        </div>
    {% else %}
        <p>Il n'y a pas encore d'événement</p>
    {% endfor %}
    <div class="d-flex justify-content-center">
    <a href="{{ path('app_event_new') }}" class="btn colorIcons btn-dark margin-bot"><i class="fa-solid fa-ghost"></i> Créer un Événement</a>
    </div>
{% endblock %}