<div class="footer-basic bg-dark mt-5">
    <footer>
        <div class="social text-light">
            <a href="#"><i class="icon ion-social-instagram colorIcons"></i></a>
            <a href="#"><i class="icon ion-social-snapchat colorIcons"></i></a>
            <a href="#"><i class="icon ion-social-twitter colorIcons"></i></a>
            <a href="#"><i class="icon ion-social-facebook colorIcons"></i></a>
        </div>
        <ul class="list-inline text-light">
            <li class="list-inline-item">
                <a href="/">Accueil</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Cimetière</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Nos monstres</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
        <p class="copyright">© MidnightCompagny  {{ "now"|date("Y") }}</p>
    </footer>
</div>