@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Lora', serif;
    background-image: url(/img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --text-color: #fff;
    --color: #783288;
}

.logo .navbar-brand .navImg{
    border-radius: 50%;
    border: 3px solid var(--color);
    box-shadow: 0 0 40px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
} 

.logo .navbar-brand .navImg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 80px var(--color);
}

.purple {
  color: var(--color);
}

.log {
  width: 45%;
  padding: 65px;
} 

.register {
    width: 45%;
    background-color: rgba(57, 47, 77, 0.486);
    min-height: 300px;
    border-radius: 30px;
}

.bgLight {
    background-color: rgba(57, 47, 77, 0.486);
    border-radius: 30px;
}

h1, h2, span {
    color: 	#D4AF37;
    font-family: 'Cinzel', serif;
}

.navImg {
    width: 60px;
}

.nav-link {
    color: #D4AF37;
}

.nav-item {
  font-family: 'Cinzel', serif;
  margin: 0 6px;
  position: relative;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: .4s;
  border-radius: 8px 8px 0 0;
}

.bgColor {
    background-color: 2E2E2E;
}

.btnColor {
    background-color: #783288;
    font-weight: bold;
}

.bgLight {
    background-color: rgba(242, 242, 242, 0.486);
    border-radius: 30px;
}

.colorIcons {
    color: #F2C94C;
}

.icons {
  width: 22px;
}

.iconDino {
  width: 45px;
  padding-right: 15px;
}

.footer-basic {
  padding: 25px 0;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #F2C94C;
  margin: 0 8px;
  color: inherit;
  transition: 0.4s ease;
  opacity: 0.75;
}


.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size :13px;
  color: #aaa;
  margin-bottom: 0;
}

footer .social a:hover {
    background: var(--color);
    transform: translateY(-7px);
    box-shadow: 0 0 0.7rem var(--color);
}



.margin-top{
  margin-top: 200px;
  margin-bottom: 200px;
}

.margin-bot{
  margin-bottom: 250px;
}

.box-index1{
  border: 5px solid #D4AF37;
  border-radius: 5px;
}

.box-index-img{
  border: 5px solid;
  border-radius: 5px;
}

p{
  color: #aaa;
  font-family: 'Cinzel', serif;
}

.form-label{
  color: #D4AF37;
}